.carousel-item.active {
  height: 100vh;
}

.carousel-item {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}