.teste {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 7vh 83vh 10vh;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

header {
  background: yellow;
  grid-area: header;
}

main {
  background: blue;
  grid-area: main;
}

footer {
  background: red;
  grid-area: footer;
}

/* figure {
  margin: 0;
  display: flex;
  margin-bottom: 10px;
  break-inside: avoid;
}

button:hover {
  filter: drop-shadow(0px 2px 3px rgba(195, 19, 19, 0.708));
}

button:hover {
  cursor: pointer;
}

.carousel-item.active {
  height: 100vh;
}

.background {
  background-image: url('https://');
  background-size: cover;
  background-position: center center;
} */