@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.esse {
    border: 1px solid red
}

:root,
[data-bs-theme=dark] {
    --font-default: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    --font-emphasis: "Poppins", sans-serif;

    --font-family-default: var(--font-default);
    --font-size-default: 2.0vmin;
    --font-weight-default: 400;
    --font-line-default: 1.5;
    --font-letter-spacing-default: 0.5vh;

    --font-family-emphasis: var(--font-emphasis);
    --font-size-emphasis: 5.0vmin;
    --font-weight-emphasis: 700;
    --font-line-emphasis: 1.5;
    --font-letter-spacing-emphasis: 0.9vh;

    color-scheme: dark;
    --color-red: #FF4A52;
    --color-red-rgb: 255, 74, 82;
    --color-blue: #1EC6B6;
    --color-blue-rgb: 30, 198, 182;
    --color-light: #F8F9FA;
    --color-light-rgb: 248, 249, 250;
    --color-dark: #212529;
    --color-dark-rgb: 33, 37, 41;
    --color-black: black;
    --color-black-rgb: 0, 0, 0;
    --color-default: #DEE2E6;
    --color-default-rgb: 222, 226, 230;
    --color-emphasis: #FBCC56;
    --color-emphasis-rgb: 251, 204, 86;

    --text-red: var(--color-red);
    --text-blue: var(--color-blue);
    --text-light: var(--color-light);
    --text-dark: var(--color-dark);
    --text-black: var(--color-black);
    --text-default: var(--color-default);
    --text-emphasis: var(--color-emphasis);
    --hover-red: var(--color-red);
    --hover-blue: var(--color-blue);
    --hover-light: var(--color-light);
    --hover-dark: var(--color-dark);
    --hover-black: var(--color-black);
    --hover-default: var(--color-default);
    --hover-emphasis: var(--color-emphasis);
    --icon-red: var(--color-red);
    --icon-blue: var(--color-blue);
    --icon-light: var(--color-light);
    --icon-dark: var(--color-dark);
    --icon-black: var(--color-black);
    --icon-default: var(--color-default);
    --icon-emphasis: var(--color-emphasis);
    --btn-red: var(--color-red);
    --btn-blue: var(--color-blue);
    --btn-light: var(--color-light);
    --btn-dark: var(--color-dark);
    --btn-black: var(--color-black);
    --btn-default: var(--color-default);
    --btn-emphasis: var(--color-emphasis);
    --bg-red: var(--color-red);
    --bg-red-rgb: var(--color-red-rgb);
    --bg-blue: var(--color-blue);
    --bg-blue-rgb: var(--color-blue-rgb);
    --bg-light: var(--color-light);
    --bg-light-rgb: var(--color-light-rgb);
    --bg-dark: var(--color-dark);
    --bg-dark-rgb: var(--color-dark-rgb);
    --bg-black: var(--color-black);
    --bg-black-rgb: var(--color-black-rgb);
    --bg-default: var(--color-default);
    --bg-default-rgb: var(--color-default-rgb);
    --bg-emphasis: var(--color-emphasis);
    --bg-emphasis-rgb: var(--color-emphasis-rgb);

    --radial-gradient: radial-gradient(circle,
            rgba(var(--bg-emphasis-rgb), .9) 10%,
            rgba(var(--bg-dark-rgb), .9) 80%);

    --gradient: linear-gradient(45deg,
            #221133,
            var(--bg-dark));

    --gradient-default: linear-gradient(220deg,
            var(--bg-dark),
            var(--bg-emphasis));

    --gradient-emphasis: linear-gradient(45deg,
            var(--bg-emphasis),
            var(--bg-dark));

    --gradient-emphasis-rgba: linear-gradient(270deg,
            rgba(var(--bg-dark-rgb), .9) 50%,
            rgba(var(--bg-emphasis-rgb), .9) 90%);
}

*,
::after,
::before {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.promo-bar {
    background-color: var(--bg-emphasis);
    color: var(--text-dark);
}

.navbar {
    z-index: 1000;
}

.bd-navbar {
    background-image: var(--gradient-emphasis-rgba);
    background-color: transparent;
    box-shadow: 0 0.5rem 1rem var(--bg-dark), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    padding: .1rem 0;
}

.navbar-nav,
.nav-item,
.dropdown {
    --bs-nav-link-font-weight: var(--font-weight-default);
    --bs-nav-link-color: var(--text-light);
    --bs-nav-link-hover-color: var(--hover-emphasis);
}

.dropdown-menu:hover {
    filter: drop-shadow(7px 7px 6.6px var(--bg-emphasis));
}

#logo {
    max-width: 6vmin;
    filter: drop-shadow(20px 10px 5px var(--));
}

#icon-logo {
    max-width: 6vmin;
    filter: drop-shadow(3px 3px 3px var(--color-emphasis));
}

#brand {
    max-width: 12vmin;
}

a:hover {
    color: var(--text-emphasis);
    text-decoration: none;
}

hr,
.border-bottom {
    border-image: var(--radial-gradient) 1;
}

.bi-airplane-fill,
.bi-wifi,
.bi-pin,
.bi-dot,
.bi-h-circle-fill,
.bi-cone-striped {
    color: var(--icon-emphasis);
}

section {
    padding: 2rem;
    border: 4px solid var(--bg-emphasis);
    border-image: var(--gradient) 1;
}

.title-emphasis {
    font-family: var(--font-family-emphasis);
    font-size: var(--font-size-emphasis);
    font-weight: var(--font-weight-emphasis);
    letter-spacing: var(--font-letter-spacing-default);
    color: var(--text-emphasis);
}

.text-emphasis {
    font-family: var(--font-family-emphasis);
    font-size: var(--font-size-emphasis);
    font-weight: var(--font-weight-emphasis);
    color: var(--text-emphasis);
}

.subtitle-default {
    font-family: var(--font-family-default);
    font-size: calc(var(--font-size-default) + 0.4vh);
    font-weight: var(--font-weight-default);
    letter-spacing: calc(var(--font-letter-spacing-default) - 0.4vh);
    color: var(--text-light);
}

.btn-danger {
    --bs-btn-color: var(--btn-light);
    --bs-btn-bg: var(--btn-red);
    --bs-btn-border-color: var(--btn-red);
    --bs-btn-hover-color: var(--hover-dark);
    --bs-btn-hover-bg: var(--hover-blue);
    --bs-btn-hover-border-color: var(--hover-blue);
    --bs-btn-active-color: var(--btn-dark);
    --bs-btn-active-bg: var(--bg-emphasis);
    --bs-btn-active-border-color: var(--btn-emphasis);
    --bs-btn-hover-shadow: inset 0 3px 5px var(--bg-emphasis);
    transition: 0.3s;
}

.btn-danger:hover {
    filter: drop-shadow(7px 7px 6.6px var(--bg-dark));
}

footer {
    /* background-image: var(--gradient-dark); */
    background-color: rgba(var(--bg-black-rgb), 0.8);
    display: block;
    width: 100vh;
    z-index: 1;
}

#recent-trip {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 2vh;
}

#recent-trip:hover {
    filter: drop-shadow(0px 3px 5px var(--hover-emphasis));
}